<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@2.7.1">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/tecris/planets.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>H/2 * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>true</concurrentBuild>
  <rootModule>
    <groupId>org.terra</groupId>
    <artifactId>planet</artifactId>
  </rootModule>
  <goals>clean deploy</goals>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <ignoreUpstremChanges>false</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <siteArchivingDisabled>false</siteArchivingDisabled>
  <fingerprintingDisabled>false</fingerprintingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <disableTriggerDownstreamProjects>false</disableTriggerDownstreamProjects>
  <blockTriggerWhenBuilding>true</blockTriggerWhenBuilding>
  <settings class="jenkins.mvn.DefaultSettingsProvider"/>
  <globalSettings class="jenkins.mvn.FilePathGlobalSettingsProvider">
    <path>/opt/maven_config/.m2/settings.xml</path>
  </globalSettings>
  <reporters/>
  <publishers/>
  <buildWrappers/>
  <prebuilders/>
  <postbuilders>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.33">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.RemoveCommand">
        <containerIds>planets-mysql-db</containerIds>
        <ignoreIfNotFound>true</ignoreIfNotFound>
        <removeVolumes>false</removeVolumes>
        <force>true</force>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.33">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.CreateContainerCommand">
        <image>casadocker/mysql-no-volumes:5.7</image>
        <command></command>
        <hostName></hostName>
        <containerName>planets-mysql-db</containerName>
        <envVars>MYSQL_ROOT_PASSWORD=mysql,MYSQL_USER=planets,MYSQL_PASSWORD=1planets!,MYSQL_DATABASE=planetsdb</envVars>
        <links></links>
        <exposedPorts>3306/tcp</exposedPorts>
        <cpuShares></cpuShares>
        <memoryLimit></memoryLimit>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.33">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.StartCommand">
        <containerIds>planets-mysql-db</containerIds>
        <publishAllPorts>false</publishAllPorts>
        <portBindings>172.17.0.1:3306:3306</portBindings>
        <waitPorts></waitPorts>
        <links></links>
        <bindMounts></bindMounts>
        <privileged>false</privileged>
        <containerIdsLogging></containerIdsLogging>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <hudson.tasks.Shell>
      <command>sleep 10
mvn -Pdb-mysql -s /opt/maven_config/.m2/settings.xml clean compile flyway:migrate -Ddatabase.host=172.17.0.1</command>
    </hudson.tasks.Shell>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.33">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.CommitCommand">
        <containerId>planets-mysql-db</containerId>
        <repo>casadocker/planets-mysql-db</repo>
        <tag>$BUILD_NUMBER</tag>
        <runCmd></runCmd>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.33">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.PushImageCommand">
        <dockerRegistryEndpoint plugin="docker-commons@1.2">
          <url>https://docker.host</url>
        </dockerRegistryEndpoint>
        <image>planets-mysql-db</image>
        <tag>$BUILD_NUMBER</tag>
        <registry>casadocker</registry>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.33">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.StopCommand">
        <containerIds>planets-mysql-db</containerIds>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.33">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.RemoveCommand">
        <containerIds>planets-mysql-db</containerIds>
        <ignoreIfNotFound>true</ignoreIfNotFound>
        <removeVolumes>false</removeVolumes>
        <force>true</force>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.33">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.CreateContainerCommand">
        <image>casadocker/planets-mysql-db:$BUILD_NUMBER</image>
        <command>mysqld</command>
        <hostName></hostName>
        <containerName>planets-mysql-db</containerName>
        <envVars></envVars>
        <links></links>
        <exposedPorts>3306/tcp</exposedPorts>
        <cpuShares></cpuShares>
        <memoryLimit></memoryLimit>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.33">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.StartCommand">
        <containerIds>planets-mysql-db</containerIds>
        <publishAllPorts>false</publishAllPorts>
        <portBindings>172.17.0.1:5432:5432</portBindings>
        <waitPorts></waitPorts>
        <links></links>
        <bindMounts></bindMounts>
        <privileged>false</privileged>
        <containerIdsLogging></containerIdsLogging>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.33">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.CreateImageCommand">
        <dockerFolder>$WORKSPACE/jenkins/docker</dockerFolder>
        <imageTag>casadocker/planets-web:$BUILD_NUMBER</imageTag>
        <noCache>true</noCache>
        <rm>false</rm>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.33">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.PushImageCommand">
        <dockerRegistryEndpoint plugin="docker-commons@1.2">
          <url>https://docker.host</url>
        </dockerRegistryEndpoint>
        <image>planets-web</image>
        <tag>$BUILD_NUMBER</tag>
        <registry>casadocker</registry>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.33">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.RemoveCommand">
        <containerIds>planets-web</containerIds>
        <ignoreIfNotFound>true</ignoreIfNotFound>
        <removeVolumes>false</removeVolumes>
        <force>true</force>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.33">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.CreateContainerCommand">
        <image>casadocker/planets-web:$BUILD_NUMBER</image>
        <command>-Dmysql.ipaddress=planets-db -Dmysql.port=3306 -Dmysql.database=planetsdb -Dmysql.username=planets -Dmysql.password=1planets!</command>
        <hostName></hostName>
        <containerName>planets-web</containerName>
        <envVars></envVars>
        <links>planets-mysql-db:planets-db</links>
        <exposedPorts>8080/tcp,9990/tcp</exposedPorts>
        <cpuShares></cpuShares>
        <memoryLimit></memoryLimit>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.33">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.StartCommand">
        <containerIds>planets-web</containerIds>
        <publishAllPorts>true</publishAllPorts>
        <portBindings>172.17.0.1:8089:8080
9990:9990</portBindings>
        <waitPorts></waitPorts>
        <links></links>
        <bindMounts></bindMounts>
        <privileged>false</privileged>
        <containerIdsLogging></containerIdsLogging>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <hudson.tasks.Shell>
      <command>sleep 10</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>mvn -Prun-it -s /opt/maven_config/.m2/settings.xml clean integration-test -Dtest.host=172.17.0.1 -Dtest.port=8089</command>
    </hudson.tasks.Shell>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.33">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.StopCommand">
        <containerIds>planets-web,planets-mysql-db</containerIds>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.33">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.RemoveCommand">
        <containerIds>planets-web,planets-mysql-db</containerIds>
        <ignoreIfNotFound>false</ignoreIfNotFound>
        <removeVolumes>false</removeVolumes>
        <force>false</force>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.33">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.RemoveImageCommand">
        <imageName>casadocker/planets-web:$BUILD_NUMBER</imageName>
        <imageId></imageId>
        <ignoreIfNotFound>true</ignoreIfNotFound>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.33">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.RemoveImageCommand">
        <imageName>casadocker/planets-mysql-db:$BUILD_NUMBER</imageName>
        <imageId></imageId>
        <ignoreIfNotFound>true</ignoreIfNotFound>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <hudson.tasks.Maven>
      <targets>org.jacoco:jacoco-maven-plugin:0.7.4.201502262128:prepare-agent install -Psonar</targets>
      <mavenName>M3</mavenName>
      <pom>pom.xml</pom>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.FilePathSettingsProvider">
        <path>/opt/maven_config/.m2/settings.xml</path>
      </settings>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
    </hudson.tasks.Maven>
    <hudson.tasks.Maven>
      <targets>sonar:sonar -Psonar</targets>
      <mavenName>M3</mavenName>
      <pom>pom.xml</pom>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.FilePathSettingsProvider">
        <path>/opt/maven_config/.m2/settings.xml</path>
      </settings>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
    </hudson.tasks.Maven>
  </postbuilders>
  <runPostStepsIfResult>
    <name>SUCCESS</name>
    <ordinal>0</ordinal>
    <color>BLUE</color>
    <completeBuild>true</completeBuild>
  </runPostStepsIfResult>
</maven2-moduleset>